<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/splash') %>
  <%- include('partials/cursor') %>
  <%- include('partials/nav') %>
  <%- include('partials/featured') %>
  <%- include('partials/hero') %>
  <%# include('partials/marquee') %>
  <%- include('partials/youtube') %>
  <%- include('partials/films') %>
  <%- include('partials/stories') %>
  <%- include('partials/partners') %>
  <%- include('partials/about') %>
  <%- include('partials/signup') %>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
</html>
